<form method="POST">
	<p>
		<div class="col-md-4 mb-3">
	      <label for="validationCustom01">Post name</label>
	      <input type="text" class="form-control" name="form[name]" id="validationCustom01" placeholder="Post name" value="">
    	</div>
	</p>

	<p>
		<div class="form-group">
	    	<label for="exampleFormControlTextarea1">Example textarea</label>
	    	<textarea class="form-control" name="form[text]" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
	</p>

	<p>
		<button class="btn btn-primary" type="submit">Create</button>
	</p>
</form>